<h1>This is where the posted posts go after you add them</h1>

<div id="post_container">
	<h3>Title: <%= @post.title %></h3>
	<p><i>Posted by <%= @post.author_name %></i></p>
	<p>on <%= @post.created_at.strftime("%B %d, %Y %l:%M %P %Z")%></p>
	<p>Content: <br />
		<%= @post.content %>
	</p>
</div>

<%= link_to "<< Go back", posts_path %>